.nav-btn {
    background: rgb(255, 81, 0);
    border-radius: 20px 20px 0px 0px;
}

body {
    background: linear-gradient(90deg, rgb(190, 118, 22),  rgb(197, 98, 53), rgb(226, 80, 36));
    color: lightgray;
}